@keyframes shimmer {
    0% { filter: brightness(1); }
    50% { filter: brightness(1.5); }
    100% { filter: brightness(1); }
  }
  
  .shimmer-effect {
    animation: shimmer 5s infinite;
    -webkit-animation: shimmer 5s infinite;
}


a {
    color: #ff5400 ;
    text-decoration: none !important; 
}

a:hover {
    color: #fd6569 !important;
}